{
  "env": {
    "node": true
  },
  "extends": [
    "plugin:vue/recommended",
    "prettier/vue"
  ],
  "plugins": [
    "babel"
  ],
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "ecmaVersion": 2020
  },
  "rules": {
    "vue/html-self-closing": [
      "error",
      {
        "html": {
          "void": "always"
        }
      }
    ],
    "vue/html-indent": "off",
    "vue/html-closing-bracket-newline": "off",
    "vue/max-attributes-per-line": "off",
    "vue/custom-event-name-casing": "off",
    "no-restricted-syntax": "off",
    "class-methods-use-this": "off"
  }
}
