.DS_Store
node_modules
/dist/*/
/dist/package.json
/dist/yarn.lock
/dist/sessions
/server/sessions

# env files and key files
.env
/dist/*.pem
/*.pem

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
