{
  "env": {
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "plugins": [
    "prettier",
    "@typescript-eslint/eslint-plugin"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": "error",
    "no-return-await": "off",
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
  }
}
